
* {
    margin: 2;
    padding: 2;
    box-sizing: border-box;
}

body  {
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    background-image: url(img/Pantalla.png) ;
    background-repeat: no-repeat;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.main {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

 .main > * {
    padding: 1em;
} 


/* colocar una debajo de la otra */
/* .record form {
    display: grid;
    grid-template-columns: 1fr ; */
/* } */
/*separa en bloques input y label*/
/* .record form label {
    display: block;
} */
/*separa en bloques input y label*/
/* .record form p {
    margin: 0;
    padding: 1em;
} */
/* para colocar la cantidad de columnas que deseas */
/* .record form .buttonCheckIn {
    grid-column: 1 / 1;
}

.record form button {
    background: #E4BAD4; 
    border: 0;
    text-transform: uppercase;
    padding: 1em;
} */
/* transformar el boton de un color a otro y darle un foco */
/* .record form button:hover,
.record form button:focus {
    background: #9A04E0;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
} */
 