* {
  margin: 0.5%;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family:Rockwell, sans-serif;
  background-image: url(img/gaviota.jpg);
  background-repeat: no-repeat;
  background-position: center center; /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
  background-attachment: fixed; /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-size: cover; /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  background-color: purple; 
  color:black;
  font-size: 100%;
}

.menuContainer {
  display: grid  inline-grid;
  /* separacion de filas y columnas juntas */
  grid-gap:   0px 0px;              
  grid-template-columns: 1fr ;
 
}
.header{
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 1;
  justify-self: stretch; 
 justify-self: stretch;
  justify-self: stretch; 
}
h1{
  margin: -42px 0px 0px 27px;
  color: #9A04E0;
}

.rootMenu {
  display: grid  inline-grid;
  grid-template-columns: 100% ;
  grid-gap:   30px 10px;  
  justify-content: space-between;
  align-items: center;
  height: 80%;
  padding: 10% ;
  width: 278px;
  height: 367px;
  left: 41px;
  top: 132px;

/* font-family: Rockwell;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #000000; */ 

  
}
p{
  font-family: Rockwell;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;  
  color: #000000;
  
}
strong {
  font-size: 25px;
  padding: 0px;
  text-align: center;
}
ul{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  list-style:none;
}
li{
 
  padding: 6px;
  margin-top: -3%;
  margin-left: 5%;
  list-style:none;
  text-decoration: none;
}
a{
  text-decoration: none; 
}
.menu1{
  display: grid  inline-grid;
  grid-template-columns: 1fr 1fr;

} 
.addContainer, .containerCheckin, .contactContainer, .favoriteContainer, .loginContainer, .menuContainer, .profileContainer, .recoverpassword, .shopsContainer, .startContainer {
  display: grid  inline-grid;
  /* separacion de filas y columnas juntas */
   grid-gap:   30px 10px;   
  /* para aplicar la medida proporcionar se debe dar los espacios primero grid-gap*/
   grid-template-columns: 1fr ;
}
.header{
  grid-column-start: 1;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 1;
  justify-self: stretch;
}
.logo{
  display: grid;
}
.tituloRegistro{
  display: grid;
}
h2{
  display: grid  inline-grid;
  align-items: center; 
  grid-gap:   30px 10px;  
}
.containerLogIn{
  display: grid  inline-grid;
  grid-template-columns: 1fr ;
  width: 253px;
  height: 180px;
  left: 61px;
  top: 117px;
  background: #BBE3F0;

}

/* colocar una debajo de la otra */
.record {
    display: grid;
   grid-template-columns: 1fr ;
}
